 1). Python. Given an array of integers, find the sum of its elements.
	For example, if the array ar = [1,2,3],
                          Calculate 1+2+3 = 6, so return 6.

In [5]:
def sum_array(arr):
    total = 0
    for num in arr:
        total += num
    return total
    
ar = [1, 2, 3]
print(sum_array(ar))

6

2). SQL.  Julia conducted a days of learning SQL contest. The start date of the contest was March 01, 2016 and the end date was March 15, 2016.
Write a query to print total number of unique hackers who made at least submission each day (starting on the first day of the contest), and find the hacker_id and name of the hacker who made maximum number of submissions each day. If more than one such hacker has a maximum number of submissions, print the lowest hacker_id. The query should print this information for each day of the contest, sorted by the date.
Here is the challenge on Hacker Rank: https://www.hackerrank.com/challenges/15-days-of-learning-sql/problem

In [ ]:
Query= """
select s.submission_date,
    (select count(hc.hacker_id) from (
    select hacker_id,count(distinct submission_date) as subs from submissions 
    where submission_date<=s.submission_date
    group by hacker_id
    having count(distinct submission_date)=day(s.submission_date)) as hc),
(select top 1 si.hacker_id from submissions si where si.submission_date=s.submission_date group by si.hacker_id order by count(*) desc,si.hacker_id),
(select top 1 h.name from submissions si join hackers h on h.hacker_id=si.hacker_id where si.submission_date=s.submission_date group by si.hacker_id,h.name order by count(*) desc,si.hacker_id) 
from submissions s
group by s.submission_date
order by s.submission_date
"""